@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Cảnh Báo";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Người dùng không thể truy cập vào chức năng này</p>
</header>
